.masonry_card {
    width:100%;
    border-radius:4px;
    display:flex;
    justify-content:center;
    align-items:center;
    position: relative;
    display: block;
    overflow: hidden;

    .img_wrap{
        width:100%;
        height:100%;
        overflow: hidden;
        display:flex;
        justify-content:center;
        align-items:center;

        .card_img{
            -webkit-transform:scale(1);
            -moz-transform:scale(1);
            -ms-transform:scale(1); 
            -o-transform:scale(1);  
            transform:scale(1);
            -webkit-transition:.8s;
            -moz-transition:.8s;
            -ms-transition:.8s;
            -o-transition:.8s;
            transition:.8s;
            filter: brightness(100%);
        }
    }

    &:hover {
        .card_action_wrap {
            bottom:0%;
        }
        .img_wrap{
            .card_img{
                -webkit-transform:scale(1.1);
                -moz-transform:scale(1.1);
                -ms-transform:scale(1.1);   
                -o-transform:scale(1.1);
                transform:scale(1.1);
                filter: brightness(60%);
            }
        }
    }
    .card_img {
        display: block;
        width:100%;
        height:auto;
        // min-height: 280px;
    }
    
    .card_action_wrap {
        position: absolute;
        bottom:-100%;
        left:0;
        width:100%;
        height:100%;
        
    }
    .card_action {
        position: relative;
        width:100%;
        height:100%;
        .card_bookmark {
            position: absolute;
            top:20px;
            right:20px;
        }
        .card_view_btn {
            position: absolute;
            left:0px;
            top:-50px;
            width:100%;
            display:flex;
            justify-content:center;
            align-items:center;

           
        }
        .card_info {
            position: absolute;
            bottom:0;
            left:0;
            width:100%;
            background:#fff;
            .card_info_inner {
            padding:15px;
            padding:0.938rem;


            }
            .card_info_tag {
                font-size:10px;
                font-size:0.625rem;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
                -webkit-box-pack: justify;
                    -ms-flex-pack: justify;
                        justify-content: space-between;
                -webkit-box-pack: start;
                    -ms-flex-pack: start;
                        justify-content: flex-start;
                
                .weather {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-pack: end;
                        -ms-flex-pack: end;
                            justify-content: flex-end;
                    -webkit-box-align: center;
                        -ms-flex-align: center;
                            align-items: center;
                    -webkit-box-flex: 1;
                        -ms-flex-positive: 1;
                            flex-grow: 1;
                }
            }
            .card_info_summary {
                margin:10px 0;
                .card_info_title {
                    font-size:14px;
                    font-size:0.875rem;
                    font-weight:600;
                    margin-bottom:5px;
                }
                .card_info_desc {
                    font-size:13px;
                    font-size:0.813rem;
                }
            }
            .card_info_footer {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
                -webkit-box-pack: justify;
                    -ms-flex-pack: justify;
                        justify-content: space-between;
                -webkit-box-pack: start;
                    -ms-flex-pack: start;
                        justify-content: flex-start;
            }
            .card_info_author {
                h5 {
                    font-size:12px;
                    font-size:0.75rem;
                    img {
                        vertical-align: sub;
                        display: inline-block;
                        margin-left: 2px;
                    }
                }
            }
            .card_info_review {
                font-size:12px;
                font-size:0.75rem;
                margin-right:2px;
            }
            .card_info_rating {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: end;
                    -ms-flex-pack: end;
                        justify-content: flex-end;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
                -webkit-box-flex: 1;
                    -ms-flex-positive: 1;
                        flex-grow: 1;
                        ul {
                            li {
                                display: inline-block;
                            }
                        }
            }
        }
    }
}

